.banner
  +flex-center($direction: column, $text: true)
  +padding($horz: 5rem)
  +padding($vert: 8rem)

  h1
    +margin($all: 0)
    color: $gray-500
    font-size: 2rem
    font-weight: 400
    letter-spacing: 0.2rem
    text-transform: uppercase

  hr
    +hr($width: 10rem)
    +margin($top: 5rem)

  h2
    font-size: 4rem
    font-weight: 400

  p
    color: $gray-600
    font-size: 1.8rem
    max-width: 50rem



.configBuilder
  $card-margin: 4rem
  +margin($horz: 2rem)

  +media-breakpoint-up(small)
    +margin($horz: 5rem)

  +media-breakpoint-up(large)
    +margin($horz: 10rem)
    +flex-center($direction: row-reverse)
    min-width: 0

  +media-breakpoint-up(xlarge)
    +margin($horz: 15rem)

  .files
    flex-grow: 1
    min-width: 0

    +media-breakpoint-up(large)
      +margin($right: $card-margin)

    .file
      +margin($bottom: $card-margin)
      +card

      .cardTitle
        +card-title


  .configs
    +card
    +margin($bottom: $card-margin)

    +media-breakpoint-up(large)
      min-width: 35rem
      align-self: start

    +media-breakpoint-down(medium)
      align-self: center

    .cardTitle
      +card-title

    .vars
      +padding($all: 2rem)

    .group
      &:not(:first-child)
        +margin($top: 2rem)

      label
        +control-label
        font-family: $font-code
        color: $gray-700


      input
        +input-text
        +margin($top: 0.7rem)
