
// Core
// ----


@mixin margin($all: null, $horz: null, $vert: null, $top: null, $bottom: null, $left: null, $right: null)
  @if $all
    margin: $all
  @else if $horz
    margin-right: $horz
    margin-left: $horz
  @else if $vert
    margin-top: $vert
    margin-bottom: $vert
  @else
    margin-top: $top
    margin-right: $right
    margin-bottom: $bottom
    margin-left: $left


@mixin padding($all: null, $horz: null, $vert: null, $top: null, $bottom: null, $left: null, $right: null)
  @if $all
    padding: $all
  @else if $horz
    padding-right: $horz
    padding-left: $horz
  @else if $vert
    padding-top: $vert
    padding-bottom: $vert
  @else
    padding-top: $top
    padding-right: $right
    padding-bottom: $bottom
    padding-left: $left




// Layouts
// -------


@mixin flex-center($direction: column)
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  flex-direction: $direction


@mixin container($width)
  +margin($horz: 10rem)
  max-width: $width

  +media-breakpoint-down(small)
    +margin($horz: 2.5rem)


@mixin hr($color: $gray-300, $width: 100%)
  width: $width
  height: 0
  border: 0
  border-top: 1px solid $color


@mixin card
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05)
  background-color: $white
  border: 1px solid $card-border-color
  border-radius: $border-radius


@mixin card-title
  +padding($all: 1.2rem)
  display: block
  font-size: 1.7rem
  font-weight: 500
  color: $cyan
  border-bottom: 1px solid $card-border-color



// Typography
// ----------


$content-line-height: 1.5
$heading-line-height: 1.3


@mixin content
  line-height: $content-line-height
  font-family: $font-content
  font-size: 1.9rem
  font-weight: 400

  +media-breakpoint-down(small)
    font-size: 1.7rem


@mixin heading
  +margin($bottom: 1rem)
  line-height: $heading-line-height
  font-family: $font-heading
  font-weight: 700

  a
    text-decoration: none

