
// Core
// ----


@mixin margin($all: null, $horz: null, $vert: null, $top: null, $bottom: null, $left: null, $right: null)
  @if $all
    margin: $all
  @else if $horz
    margin-right: $horz
    margin-left: $horz
  @else if $vert
    margin-top: $vert
    margin-bottom: $vert
  @else
    margin-top: $top
    margin-right: $right
    margin-bottom: $bottom
    margin-left: $left


@mixin padding($all: null, $horz: null, $vert: null, $top: null, $bottom: null, $left: null, $right: null)
  @if $all
    padding: $all
  @else if $horz
    padding-right: $horz
    padding-left: $horz
  @else if $vert
    padding-top: $vert
    padding-bottom: $vert
  @else
    padding-top: $top
    padding-right: $right
    padding-bottom: $bottom
    padding-left: $left




// Layouts
// -------


@mixin flex-center($direction: column, $text: true)
  display: flex
  align-items: center
  justify-content: center
  flex-direction: $direction

  @if $text
    text-align: center


@mixin container($width)
  +margin($horz: 10rem)
  max-width: $width

  +media-breakpoint-down(small)
    +margin($horz: 2.5rem)


@mixin hr($color: $gray-300, $width: 100%)
  width: $width
  height: 0
  border: 0
  border-top: 1px solid $color


@mixin card
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05)
  background-color: $white
  border: 1px solid $card-border-color
  border-radius: $border-radius


@mixin card-title
  +padding($all: 1.2rem)
  display: block
  font-size: 1.7rem
  font-weight: 500
  color: $cyan
  border-bottom: 1px solid $card-border-color



// Typography
// ----------


$content-line-height: 1.5
$heading-line-height: 1.3


@mixin content
  line-height: $content-line-height
  font-family: $font-content
  font-size: 1.9rem
  font-weight: 400

  +media-breakpoint-down(small)
    font-size: 1.7rem


@mixin heading
  +margin($bottom: 1rem)
  line-height: $heading-line-height
  font-family: $font-heading
  font-weight: 700

  a
    text-decoration: none



// Forms
// -----


@mixin form-control($font-size: 1.5rem)
  display: block
  color: $gray-700
  border: 1px solid $gray-300
  border-radius: $border-radius
  min-width: 25rem

  font-size: $font-size
  line-height: $font-size

  &:hover
    border-color: $cyan

  &:focus
    outline: 0
    border-color: $teal
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05)


@mixin input-text
  +form-control
  +padding($vert: 0.8rem)
  +padding($horz: 1rem)


@mixin input-select
  $select-arrow-color: gray
  $select-arrow-svg: "<svg viewBox='0 0 150 150' width='16' height='16' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='#{$select-arrow-color}'/></g></svg>"

  +form-control
  +padding($top: 1.2rem, $bottom: 1rem, $left: 1rem, $right: 4rem)

  cursor: pointer
  position: relative

  appearance: none
  -moz-appearance: none
  -webkit-appearance: none

  background-image: url("data:image/svg+xml;utf8,#{$select-arrow-svg}")
  background-repeat: no-repeat
  background-position: right 1rem top 55%;

