.container
  +flex-center($direction: column)
  +margin($horz: 5rem)
  +margin($top: 5rem)
  +padding($all: 3rem)

  max-width: 65rem

  +media-breakpoint-up(medium)
    +margin($horz: auto)

  .title
    +margin($all: 0)
    color: $gray-500
    text-align: center
    font-size: 2rem
    font-weight: 400
    letter-spacing: 0.2rem
    // text-transform: uppercase


  .row
    +flex-center($direction: row)
    +margin($top: 4rem)

    .group
      display: inline-block

      label
        +control-label

      select
        +input-select
        font-size: 2rem
        line-height: 2rem

      &:first-child
        +margin($right: 5rem)
