.container
  +flex-center($direction: column)

  max-width: 65rem

  +media-breakpoint-up(medium)
    +margin($horz: auto)

  .row
    +flex-center($direction: row)
    +margin($top: 4rem)

    +media-breakpoint-down(small)
      flex-direction: column

    .group
      display: inline-block

      label
        +control-label

      select
        +input-select
        +margin($bottom: 2rem)
        font-size: 2rem
        line-height: 2rem

      +media-breakpoint-up(medium)
        &:first-child
          +margin($right: 5rem)


  // Inverse Overrides
  &.inverse
    .group label
      color: $white
