.container
  +flex-center
  +padding($horz: 5rem)
  +padding($top: 8rem, $bottom: 6rem)

  width: 100%
  background: linear-gradient(135deg, $teal 0%, $cyan 100%)

  .title
    +margin($all: 0)
    font-size: 8rem
    color: $white

  .tagline
    color: $white
