name: JavaScript
variants:

  - id: nodejs
    name: Basic Node.js Apps
    description: Simple Node.js applications
    files:
      - dockerfile
      - dockerignore
    variables:
      - name:  'NODE_VERSION'
        value: '20.10.0'
      - name:  'DEFAULT_ENV'
        value: 'production'
      - name:  'PORT'
        value: '8080'
      - name:  'APP_ENTRYPOINT'
        value: 'index.js'

  - id: nestjs
    name: NestJS App
    description: NestJS Backend application
    files:
      - dockerfile
      - packagejson
      - dockerignore
    variables:
      - name:  'NODE_VERSION'
        value: '20.10.0'
      - name:  'PORT'
        value: '3000'

  - id: bunjs
    name: Basic Bun.js Apps
    description: Simple BunJS applications
    files:
      - dockerfile
      - dockerignore
    variables:
      - name:  'BUN_VERSION'
        value: 'latest'
      - name:  'PORT'
        value: '8080'
      - name:  'APP_ENTRYPOINT'
        value: 'index.ts'
